/* Basic Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
}

nav ul li a:hover {
  background-color: #ddd;
}

section {
  padding: 20px;
  margin: 20px 0;
}

.project {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.profile-picture {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  /* Adjust the width as desired */
  height: 150px;
  /* Adjust the height as desired */
}

a {
  display: block;
  margin-bottom: 10px;
  /* Adjust the spacing as desired */
}

#about {
  text-align: center;
}

#about h2,
#about p {
  text-align: center;
}

#links {
  text-align: center;
}

#links h2 {
  text-align: center;
}

#links ul {
  display: inline-block;
  text-align: left;
}

section#links {
  margin: 20px 0;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section#links h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

section#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section#links li {
  display: inline-block;
  margin-right: 10px;
}

section#links a {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #337ab7;
  border-radius: 5px;

  &:hover {
    background-color: #286090;
  }
}

section#links a[href="https://github.com/hsynercn"] {
  background-color: #007bff;
}

section#links a[href="https://medium.com/@huscanercan"] {
  background-color: #008CBA;
}

section#links a[href="https://www.linkedin.com/in/huseyin-can-ercan/"] {
  background-color: #0077B5;
}


/* Add more styling as needed */
